<div class="container form">
  <h1>Modify booking</h1>
  <%= simple_form_for [@booking] do |f| %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.input :location %>
    <%= f.submit "Update booking", class: "button" %>
  <% end %>
</div>
