<div class="card-product">
  <% @bookings.each do |booking| %>
    <%= link_to booking_path(booking), class: "link-to-div" do %>
    <%= cl_image_tag booking.drag.photo.key %>
      <div class="card-product-infos">
        <h2><%= booking.drag.nicknam %></h2>
        <% #Change to in integer %>
        <% hours = booking.end_date - booking.start_date%>
        <% price = hours * (booking.drag.hourly_rate) %>
        <h6><%= price %>€ per hour</h5>
      </div>
      <% #Add edit + booking status %>
      <div class="booking-status">
        <%= link_to 'Cancel' booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      </div>
    <% end %>
</div>
