<div class="booking-cards">
  <% @drag_bookings.each do |drag_booking| %>
    <div class="drag-booking-card">
      <div class="booking-logo">
        <i class="fa-solid fa-crown"></i>
      </div>
      <div class="booking-info">
        <h5>Booking on <%= drag_booking.booking_date %> </h5>
        <div class="booking-details">
          <p>with <%= drag_booking.user.first_name %> <%= drag_booking.user.last_name %></p>
          <p>From <%= drag_booking.start_time %> to <%= drag_booking.end_time %></p>
        </div>
        <p>
          <i class="fa-solid fa-location-pin"></i><%= drag_booking.location %>
        </p>
        <p>
          <i class="fa-solid fa-credit-card"></i><%= (drag_booking.end_time[0..1].to_i - drag_booking.start_time[0..1].to_i) * drag_booking.drag.hourly_rate %>€
        </p>
      </div>
      <div class="booking-actions">
          <p><%= drag_booking.status %></p>
          <div class="d-flex justify-content-evenly">
             <%= link_to accept_path(drag_booking), data: {turbo_method: :patch}, class: "text-decoration-none" do %>
              <i class="fa-solid fa-check"></i>
            <% end %>
            <%= link_to decline_path(drag_booking), data: {turbo_method: :patch} do %>
              <i class="fa-solid fa-xmark"></i>
            <% end %>
          </div>
      </div>
    </div>
  <% end %>
</div>
