<div class="booking-cards">
  <% @drag_bookings.each do |drag_booking| %>
    <div class="drag-booking-card">
      <div class="booking-logo">
        <i class="fa-solid fa-crown"></i>
      </div>
      <div class="booking-info">
        <h5>Booking on ***date** </h5>
        <p>From <%= drag_booking.start_time %> to <%= drag_booking.end_time %></p>
        <span>
          <i class="fa-solid fa-location-pin"></i><%= drag_booking.location %>
        </span>
      </div>
      <div class="booking-actions">
          <p><%= drag_booking.status %></p>
          <div>
            <%= link_to edit_drag_booking_path(drag_booking.drag, drag_booking) do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            <%= link_to booking_path(drag_booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this booking?"} do %>
              <i class="fa-solid fa-ban"></i>
            <% end %>
          </div>
      </div>
    </div>
  <% end %>
</div>
