<% @user_bookings.each do |user_booking| %>
  <ul>
    <li><%= user_booking.start_time %></li>
    <li><%= user_booking.end_time %></li>
    <li><%= user_booking.location %></li>
    <%= cl_image_tag user_booking.drag.photo.key, class: "card-img" %>
    <%= link_to 'Edit booking', edit_drag_booking_path(user_booking.drag, user_booking) %>
    <%= link_to 'Delete booking', booking_path(user_booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure"} %>
  </ul>
<% end %>
