<h1>Find the perfect drag for your event</h1>
<div class="container">
  <div class="cards">
    <% @drags.each do |drag| %>
    <div class="card" style="width: 25rem;">
      <%= image_tag "dn3LsLUG_400x400.jpeg", :class => "card-img"%>
      <div class="card-body">
        <div class="card-body-top">
          <h5 class="card-title"><%= drag.nickname %></h5>
          <h6 class="card-price"><%= drag.hourly_rate %>€ per hour</h5>
        </div>
        <p class="card-text">Accepts events <%= drag.radius %> km around <%= drag.city %></p>
        <p class="card-specialty">Specialty: <%= drag.specialty %></p>
        <div class="button">
          <a href="#">Go somewhere</a>
        </div>
      </div>
    </div>
    <% end %>
</div>
