<h1>Find the perfect drag for your event</h1>
<ul>
  <% @drags.each do |drag| %>
    <li>
      <p><strong><%= link_to "#{drag.nickname}", drag_path(drag) %></strong></p>
      <p>Accepts events <%= drag.radius %> km around <%= drag.city %></p>
      <p><%= drag.hourly_rate %>€ per hour</p>
      <p>Specialty: <%= drag.specialty %></p>
      <p><%= cl_image_tag drag.photo.key %> </p>
    </li>
  <% end %>
</ul>
