<div class="container mt-5">
  <div class="cards">
    <% @drags.each do |drag| %>
      <%= link_to drag_path(drag), class: "link-to-div" do %>
        <div class="card" style="width: 25rem;">
            <%= cl_image_tag drag.photo.key, class: "card-img" %>
            <div class="card-body">
              <div class="card-body-top">
                <h5 class="card-title"><%= drag.nickname%></h5>
                <h6 class="card-price"><%= drag.hourly_rate %>€ per hour</h5>
                <div class=specialty-tag-index> <%= drag.specialty %></div>
              </div>
              <div>
              <p id="card-text">Accepts events <%= drag.radius %> km around <strong><%= drag.city %></strong></p>
              </div>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
