<h1>Find the perfect drag for your event</h1>
<ul>
  <% @drags.each do |drag| %>
    <li>
      <p><strong><%= drag.nickname %></strong></p>
      <p>Accepts events <%= drag.radius %> km around <%= drag.city %></p>
      <p><%= drag.hourly_rate %></p>
      <%= drag.specialty %>
    </li>
  <% end %>
</ul>
