<div class="d-flex">
  <div>
    <%= cl_image_tag @drag.photo.key, class: "show-img" %>
  </div>
  <div class="flex-grow div-text-section container">
    <h1><%= @drag.nickname %></h1>
    <div class="d-flex">
      <div class="specialty-tag d-flex"><%= @drag.specialty %></div>
      <div class="specialty-tag"><%= @drag.hourly_rate %>€ <em>per hour</em></div>
      <div class="specialty-tag"><%= @drag.city %> <em>(around <%= @drag.radius %>km)</em></div>
    </div>
    <p><%= @drag.description %></p>
    <%= link_to 'Book now', new_drag_booking_path(@drag) %>
  </div>
</div>
